<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="nabvar-brand">Recipes book</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#nvb">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nvb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onSelect('recipe')">Recipes</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onSelect('Shopping-list')">Shopping-list</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="nvdd" data-toggle="dropdown">
            Manage
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center col-6" aria-labelledby="nvdd">
            <a href="" class="dropdown-item">Save Data</a>
            <a href="" class="dropdown-item">Fetch Data</a>
          </div>
        </li>
    </ul>
  </div>
</nav>