/* You can add global styles to this file, and also import other style files */
.fondo{
    background-image: linear-gradient(#25ffb6,rgba(0, 247, 255));
    background-size: cover;
    min-height: 100vh;
}
